.titleButtonContent {
    width: 80%;
    margin: auto;
    padding: 10px;
  
    span {
      font-size: 22px;
      float: left;
      font-weight: bold;
    }
  }
  
  .wrap_button {
    float: right;
  }
  
  .favouriteCard {
    clear: both;
  }
  
  .emplty_list {
    color: grey;
    padding: 50px;
  }
  